footer {
position: absolute;
  left: 50%;
  transform: translateX(-50%);
text-align: center;
width: 100%;
margin-bottom: 100%;
  }
  
  footer p {
    color: #2E3B55;
  }
.foot-container{
margin-right: 500px;
}