.container-pf {
    height: 300px;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
    margin: 50px auto;
  }
  
  .header-pf {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .header-pf svg {
    height: 100px;
  }
  
  .header-pf p {
    text-align: center;
    color: black;
  }
  
  .footer-pf {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
  }
  
  .footer-pf svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
  }
  
  .footer-pf p {
    flex: 1;
    text-align: center;
  }
  
  #file {
    display: none;
  }
  .button-pf {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    fill: rgb(155, 153, 153);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
  }
  
  .button-pf span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .button-pf svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .button-pf:hover {
    background: royalblue;
  }
  
  .button-pf:hover .svg-wrapper {
    transform: scale(1.25);
    transition: 0.5s linear;
  }
  
  .button-pf:hover svg {
    transform: translateX(1.2em) scale(1.1);
    fill: #fff;
  }
  
  .button-pf:hover span {
    opacity: 0;
    transition: 0.5s linear;
  }
  
  .button-pf:active {
    transform: scale(0.95);
  }
  