.form-container-reset-password {
    max-width: 400px;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    margin: 50px auto;  
}
  
  .form-container-reset-password button:active {
    scale: 0.95;
  }
  
  .form-container-reset-password .logo-container-reset-password {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }
  
  .form-container-reset-password .form-reset-password {
    display: flex;
    flex-direction: column;
  }
  
  .form-container-reset-password .form-group-reset-password {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container-reset-password .form-group-reset-password label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container-reset-password .form-group-reset-password input {
    width: 100%;
    padding: 12px 1px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
  }
  
  .form-container-reset-password .form-group-reset-password input::placeholder {
    opacity: 0.5;
  }
  
  .form-container-reset-password .form-group-reset-password input:focus {
    outline: none;
    border-color: #1778f2;
  }
  
  .form-container-reset-password .form-submit-btn-reset-password {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: royalblue;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container-reset-password .form-submit-btn-reset-password:hover {
    background-color: #313131;
  }
  
  .form-container-reset-password .link {
    color: #1778f2;
    text-decoration: none;
  }
  
  .form-container-reset-password .signup-link-reset-password {
    align-self: center;
    font-weight: 500;
  }
  
  .form-container-reset-password .signup-link-reset-password .link {
    font-weight: 400;
  }
  
  .form-container-reset-password .link:hover {
    text-decoration: underline;
  }
  
  .form-Verification-Code {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 450px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    margin: 50px auto;  
  }
  
  .title-Verification-Code {
    font-size: 20px;
    font-weight: bold;
    color: black
  }
  
  .message-Verification-Code {
    color: #a3a3a3;
    font-size: 14px;
    margin-top: 4px;
    text-align: center
  }
  
  .inputs-Verification-Code {
    margin-top: 10px
  }
  
  .inputs-Verification-Code input {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    border-bottom: 1.5px solid #d2d2d2;
    margin: 0 10px;
  }
  
  .inputs-Verification-Code input:focus {
    border-bottom: 1.5px solid royalblue;
    outline: none;
  }
  
  .action-Verification-Code {
    margin-top: 24px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    align-self: end;
    margin: 50px auto;  
  }
  .account-settings-form {
    margin-top: 20px;
  }
  
  .account-settings-form-group {
    margin-bottom: 15px;
  }
  
  .account-settings-form-group label {
    display: block;
    margin-bottom: 5px;
    color: #003366;
  }
  
  .account-settings-form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

  }
  
  .account-settings-submit-button {
    width: 100%;
    padding: 10px;
    background-color: #003366;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .account-settings-submit-button:hover {
    background-color: #00509e;
  }
  .account-settings-app-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }